body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: antiquewhite;
}

ol, ul {
  padding-left: 30px;

}

.game-board {
  margin-top: -210px;
  margin-left: 200px;
}

.game-info{
  margin-left: 500px;
  margin-top: -300px;
} 

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  margin: auto;
  background: rgb(233, 212, 212);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 100px;
  text-align: center;
  width: 100px;
}


button {
  height: 40px;
  width: 200px;
}
.warning {
  background-color: red;
  text-align: center;
  width: 100%;
  padding: 10px;

  font-size: 14pt;
  color: white;
}




