body {
  font: 14px "Century Gothic", Futura, sans-serif;

}

ol, ul {

  padding-left: 30px;

}
.img{

}
.game-board {
  margin-left: 0px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  margin: auto;
  background: red;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 100px;
  text-align: center;
  width: 100px;
}

